@font-face {
  font-family: 'Be Vietnam Pro';
  src: url(../fonts/BeVietnamPro-SemiBold.woff),
    url(../fonts/BeVietnamPro-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url(../fonts/BeVietnamPro-Bold.woff),
    url(../fonts/BeVietnamPro-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url(../fonts/BeVietnamPro-Black.woff),
    url(../fonts/BeVietnamPro-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
